DISCORD_TOKEN=REPLACE_ME
NODE_ENV=development
CLIENT_ID=1421970915805102150
GUILD_ID=1388208182094073886
QUIZ_CHANNEL_ID=1421821101742231595
AUTO_WELCOME=false
WELCOME_MESSAGE=Welcome! Take the quiz and see who you get!
ROLE_REMOVAL_BEFORE_ASSIGN=false

